body {
    background-color: darkgrey;

}

header {
    margin-top: 12px;
    line-height: 4px;
    text-align: center;

}

h1 {
    font-size: 80px;
}

h3 {
    font-size: 32px;
}

hr {
    border: .5px solid black;
    width: 20%;

}

main {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    font-size: 24px;
    justify-content: center;
    border-color: blue;
    border-style: dashed;
    background-color: silver;

}

section {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    flex-direction: row;
    font-size: 20px;
    flex-basis: calc(50% - 40px);
}

aside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid black;
    margin: 10px;
    padding: 12px;


}

footer {
    text-align: center;

}