body {
    background-color: darkgrey;

}

header {
    margin-top: 12px;
    line-height: 4px;
    text-align: center;

}

h1 {
    font-size: 80px;
}

h3 {
    font-size: 32px;
}

hr {
    border: .5px solid black;
    width: 20%;

}

main {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    font-size: 24px;
    justify-content: center;
    border-color: darkcyan;
    border-style: dashed;
    background-color: silver;
    margin-left: 60px;
    margin-right: 60px;
    border-radius: 20px;
    padding: 8px;
}

section {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: space-around;
    flex-direction: row;
    margin: 0px 100px;
}

aside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 1px solid black;
    margin: 10px;
    padding: 12px;


}

header button {
  position: relative;
  background-color: darkcyan;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 20px;
  box-shadow: 0px 4px;

}

#answer1, #answer2, #answer3, #answer4 {
  background-color: darkcyan;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 20px;

}

footer {
    text-align: center;

}